body {
    font-family: 'DM Sans', sans-serif;
    background-image: url('images/9093FDF6-BEF1-4D16-8D52-03DE53BC5351.jpg'); /* Pfad zu deinem Bild im Projektverzeichnis */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    padding: 50px;
    margin: 0;
}

/* Stile für den Container */
.container {
    max-width: 600px; /* Maximale Breite des Containers */
    margin: 0 auto; /* Zentriert den Container horizontal */
    background-color: rgba(0, 0, 0, 0.5); /* Halbtransparenter Hintergrund */
    padding: 20px; /* Innenabstand */
    border-radius: 10px; /* Abgerundete Ecken */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leichter Schatten */
}

/* Stile für die Überschrift */
.anton-sc {
    font-family: 'Anton SC', sans-serif; /* Schriftart für die Überschrift */
    font-size: 4em; /* Erhöhte Größe der Überschrift */
    color: #fff; /* Farbe für die Überschrift auf Weiß setzen */
    margin-bottom: 40px; /* Abstand nach unten */
}

/* Stile für den Text unter der Überschrift */
.dm-sans {
    font-family: 'DM Sans', sans-serif; /* Schriftart für den Text */
    font-size: 1.2em; /* Schriftgröße für den Text */
    color: #fff; /* Textfarbe auf Weiß setzen */
}

