body {
    font-family: 'Anton SC', sans-serif;  /* Verwende die Google Font */
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 50px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: 'Anton SC', sans-serif; /* Verwende die Google Font */
    font-size: 2.5em;  /* Größere Schriftgröße für die Überschrift */
    color: #191970;    /* Farbe für die Überschrift (dunkles Marineblau) */
    margin-bottom: 20px;
}

p {
    font-family: 'Anton SC', sans-serif; /* Verwende die Google Font */
    font-size: 1.2em;  /* Schriftgröße für den Bibelvers */
    color: #333;       /* Textfarbe für den Bibelvers */
    margin-top: 20px;
}

/* Beispiel für die Klasse .anton-sc-regular */
.antonsc-regular {
    font-family: 'Anton SC', sans-serif;
    font-weight: 400; /* Normalgewicht */
    font-style: normal; /* Normale Schriftart-Stil */
}
